/* estilos.css */


/* Importamos las fuentes que vamos a usar desde un archivo */
@font-face {
    font-family: 'LemonMilk Bold';
    src: url(../fuentes/lemon_milk/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: 'LemonMilk Bold Italic';
    src: url(../fuentes/lemon_milk/LEMONMILK-BoldItalic.otf);
}

@font-face {
    font-family: 'LemonMilk Medium';
    src: url(../fuentes/lemon_milk/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: 'LemonMilk Medium Italic';
    src: url(../fuentes/lemon_milk/LEMONMILK-MediumItalic.otf);
}

@font-face {
    font-family: 'LemonMilk Regular';
    src: url(../fuentes/lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: 'LemonMilk Regular Italic';
    src: url(../fuentes/lemon_milk/LEMONMILK-RegularItalic.otf);
}

@font-face {
    font-family: 'LemonMilk Light';
    src: url(../fuentes/lemon_milk/LEMONMILK-Light.otf);
}

@font-face {
    font-family: 'LemonMilk Light Italic';
    src: url(../fuentes/lemon_milk/LEMONMILK-LightItalic.otf);
}


/* Estilos de la barra de navegación */
nav {
    border-bottom: 2px solid;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    border: 10px double;
    padding: .3em;
    font-family: 'LemonMilk Medium Italic';
}

nav ul li:hover {
    list-style-type: none;
    text-align: center;
    border: 10px double;
    padding: .3em;
    font-family: 'LemonMilk Medium Italic';
    background-color: lightsalmon;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    display: block;
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
}


/* Estilos de los artículos del blog (tienen todos la misma estructura) */
article h1.titulo {
    font-family: 'LemonMilk Bold';
}

section.cuerpo p {
    font-family: 'LemonMilk Regular';
}

article:nth-child(2n+1) section.cuerpo img {
    float: left;
}

article:nth-child(2n+2) section.cuerpo img {
    float: right;
}

section.despedida p {
    font-family: 'LemonMilk Bold Italic';
}

strong {
    color: darksalmon;
}

article {
    border-bottom: 2px solid;
}


/* Estilos del apartado de la historia del flamenco */
